<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zucol assignment</title>
    <link rel="stylesheet" href="{%static 'secondpage.css' %}">
</head>
<body>
    <section class="header_section">
        <div class="header">
            <h1>Header Section</h1>
        </div>
    </section>
    <section class="herosection">
        <div class="hero">
            <ul>
                <li>Transporter Name -  AirAsia</li>
                <li>Time - 9:30am</li>
                <li>Seat no - B39</li>
                <li>Destination - Delhi </li>
            </ul>
        </div>
    </section>
</body>
</html>